* {
    box-sizing: border-box;
  }

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2{
    font-size: 24px;
}

.main div.book {
    background-color: hsl(40, 15%, 80%);
    margin: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
}

.main form input[type="submit"] {
    background-color: hsl(42, 87%, 55%);
    color: hsl(49, 100%, 96%);
}

.flex-between {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}
